body, h1, h2, h3, h4 {
    font-family: 'MedievalSharp', cursive;
    color: blue;
    text-shadow: 1px 1px white;
}

body {
    background-image: url("../images/grey.jpg");
}
.jumbotron{
    background-color: rebeccapurple;
}

img{
    margin-right:25px;
}
div img:hover {
    opacity: 0.5;
}
.panel-footer{
    background-color: rebeccapurple;
}

h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}